

.container {
    
    
    font-family: sans-serif;
  }

.header {
    background-color: #819cdb;
    color: #fff;
    text-align: left;
   
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5em;
    height: 30px; /* Adjusted height to make it shorter */
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #819cdb;
    padding: 0.5em;
    text-align: center;
}

nav a {
    color: #fff;
    vertical-align: middle;
    text-decoration: none;
    padding: 1em 3em;
    margin: 0 0.5em;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}